@import "tailwindcss";

@font-face {
    font-family: 'helvetica';
    font-display: swap;
    src: url('./assets/Fonts/Helvetica.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-bold';
    font-display: swap;
    src: url('./assets/Fonts/Helveitca-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-semi-bold';
    font-display: swap;
    src: url('./assets/Fonts/Helvetica-semibold.otf');
    font-style: normal;
}

@font-face {
    font-family: 'head';
    font-display: swap;
    src: url('./assets/Fonts/ppn.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'med';
    font-display: swap;
    src: url('./assets/Fonts/med.ttf');
    font-style: normal;
}


@theme {
    --font-helvetica: "helvetica", sans-serif;
    --font-helvetica-bold: "helvetica-bold", sans-serif;
    --font-helvetica-semi-bold: "helvetica-semi-bold", sans-serif;
    --font-head: "head", sans-serif;
    --font-med: "med", sans-serif;
}

@keyframes drawerSlideDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drawerSlideDown {
  animation: drawerSlideDown 0.3s ease-out forwards;
}
